numpy~=1.26.0
pandas~=2.2.3
fastapi~=0.115.5
pydantic~=2.9.1
typing_extensions~=4.11.0
ollama~=0.4.4
tqdm~=4.66.4
readchar~=4.0.5
termcolor~=2.5.0
docker~=7.1.0
python-dotenv~=1.0.1
scikit-learn~=1.4.2
uvicorn==0.32.1
fastapi==0.115.5